.hotcity-page {
  .hotcity-page-dl {
    display: flex;
    align-items: center;

    dt {
      font-size: 16px;
      color: #333;
      font-weight: 500;
      vertical-align: middle;
      display: inline-block;
      font-size: 16px;
    }

    dd {
      padding: 0 20px;

      a {
        color: #666;
        font-size: 14px;
      }
    }
  }
}